body{
    background-color: rgb(192, 187, 120);
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.encabezado{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(73, 73, 73);
    padding-top: 50px;
    font-weight: bold;
    
}

.tituloPrincipal{
    background-color: rgb(32, 32, 32);
    color: white;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    padding: 20px;
    font-family: "Kestrel Script Regular";
    font-size: 70px;
    border-radius: 20px;
}

.tituloPrincipal a{
    text-decoration: none;
    color: white;
    font-weight:lighter;
}


.indice{
    margin-top: 50px;
    padding: 23px;
    background-color: rgb(32, 32, 32);
}

.indice a{
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: white;
    text-align: center;
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.indice a:hover{
    background-color: white;
    color: black;
}


.mapa{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.mapa p{
    margin-left: 20px;
}
